
.columna_filtros {
    width: 20%;
    height: 100%;
    background-color: aqua;
}

.categoria {
    width: 100%;
    height: fit-content; /* 10% */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.face {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    margin:0 0 0 5px;
    align-self: center;
}

.mostrar_categorias {
    width: 30px;
    height: 30px;
    margin:0 5px 0 0;
    align-self: center;
    background-color: rgb(53, 53, 53);
    position: relative;
    display: flex;
    z-index: 1;
}

.linea_horizontal {
    position: absolute;
    top: 13px;
    width: 30px;
    height: 5px;
    background-color: white;
    pointer-events: none;
}

.linea_vertical {
    position: absolute;
    left: 12.5px;
    width: 5px;
    height: 30px;
    background-color: white;
    transition-property: transform;
    transition-duration: 0.5s;
    pointer-events: none;
}

.options {
    background-color: rgb(207, 207, 207);
    border-top:0.5px solid rgb(187, 187, 187);
    border-bottom:0.5px solid rgb(187, 187, 187);
    height: 0px;
    width: 100%;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
}


.option {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.radio_btn {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.contenedor_rango_precios {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 0.5s;
    opacity: 0;
}

.track {
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 5px;
}

.thumb {
    background-color: black;
    cursor: pointer;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: relative;
    top: -7.5px;
}
/* .price_bar {
    width: 50%;
}
.price_bar::-webkit-slider-runnable-track {
    background-color: rgb(255, 255, 255);
}

.price_bar::-webkit-slider-thumb {
    -webkit-apperance: none;
    background-color: rgb(255, 2, 2);
} */
