
.columna-gorras {
    width: 80%;
    height: 100%;
    margin: 0px auto;
    /* background-color: rgb(214, 174, 44); */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* margin-top: 1%; */
    /* margin-right: 20px; */
    /* align-self: flex-end; */
}


.contenedor_gorras {
    max-width:100%;
    /* margin:100px auto; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* height: fit-content;
    display: flex; */
    /* columns:3 350px;
    gap: 15px; */
    height: 90vh;
}



.gorra, .gorra2, .gorra3, .gorra4, .gorra5, .gorra6
{
    background-color: rgb(151, 151, 151);
    height: 450px; 
    width: 370px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    border-radius: 2%;
    margin: 45px;
    position: relative;
    /* filter: drop-shadow(4px 4px 5px #4e504f); */
    
} 

.imgg
{
    height: 370px;
    width: 370px;
    background-image: url(/static/IMG/gris.jpg);
    margin-bottom: 80px;
    background-size: 370px 370px;
    background-repeat: no-repeat;
    /* margin-bottom:190px; */
    transition: 300ms;
    border-radius: 1%;
    /* border: solid black 1px; */
    /* filter: drop-shadow(5px 4px 10px #000); */
}
.detalle, .detalle2, .detalle3, .detalle4, .detalle5, .detalle6
{
    height: 80px;
    width: 370px;
    background-color: rgb(218, 218, 218);
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    margin-top: 150px;
    /* z-index: 2; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    transition: 300ms;
}



.nombre {
    margin-top: 15px;
    /* position: relative; top: 70%; */
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Franklin Gothic';
    text-transform: uppercase;
    text-align: left;
    color: rgb(39, 39, 39);
    /* text-shadow: rgb(63, 62, 62) 1.5px 1.5px 3px; */
}
.precio
{
    font-family: monospace;
    font-size: 1.1rem;
    letter-spacing: 3px;
    margin-top: 10px;
    
}
