header {
    width: 100%; 
    height: 72vh;
    /*background-color: red;*/
    background-image: url("../IMG/gorra_perrona.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 80vh;
}
