section {
    /* display: flex; */
    /* flex-direction: column; */
    margin-top: 0;
    /* align-items: center; */
    width: 100%;
    height: 66vh;
    /* background-image: url("../IMG/gorra_perrona.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 80vh; */
}

.logo {
    /* align-self: center; */
    background-color: green;
    width: 250px;
    height: 250px;
    margin-top: 22vh;
    margin-left: 47vw;
    /* margin-bottom: 10vh; */
    background-image: url("../IMG/forever_hats.png");
    background-size: cover;
}

.eslogan {
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
    letter-spacing: 15px;
    margin-top: -42vh;
} 

@media (max-width: 1500px) 
{
    .logo {
            width: 200px;
            height: 200px;           
    }
}

@media (max-width: 1250px) 
{
    .logo {
            width: 150px;
            height: 150px;           
    }
}
@media (max-width: 950px) 
{
    .logo {
            width: 100px;
            height: 100px;           
    }
}


@media (max-height: 600px) {
    .logo {
        width: 110px;
        height: 110px;        
    }
    .eslogan {
        font-size: 2.5rem;
    }
}

@media (max-height: 470px) {
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
        height: 70vh;
        background-color: rgb(138, 138, 138);
    }
    .logo {
        width: 100px;
        height: 100px;        
    }
}

@media (max-height: 300px) {
    .logo {
        width: 90px;
        height: 90px; 
    }
} 

@media ((max-width:800px)) {
    .eslogan {
        font-size: 3rem;
    }
}


@media ((max-width:480px)) {
    .eslogan {
        font-size: 2rem;
    }
}
